@import "bootstrap/scss/bootstrap";
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#avatar-btn {
  padding: 0;
  border: 0;
}
#avatar-btn::after {
  content: none;
}