<div class="alert alert-info" role="alert">
    <span>Requesting access to current location </span>
    <button type="button" class="btn btn-link">Allow</button>
    <button type="button" class="btn btn-link">Dismiss</button>
</div>