@model RouteDataSetViewModel
@{
    ViewData["Title"] = "Tracker Details";
}
@if (Model is null)
{
    <div class="text-center">
        <h1 class="display-6">Tracking details found.</h1>
    </div>
}
else
{
    <div class="">
        <h1 class="display-6">Tracker Details</h1>
        <p class="lead">
            <span class="me-5">@Model.Name</span>
            <span>@Model.Mode</span>
        </p>
    </div>
}
