@model RouteDataSetViewModel
@{
    ViewData["Title"] = "Tracker Details";
}
@if (Model is null)
{
    <div class="text-center">
        <h1 class="display-6">Tracking details found.</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Tracker Details - @Model.Id</h1>
    </div>
}
